.BalloonWrapper{
    display: flex;
    justify-content: center;
}

.Balloon {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 15px;
  }
  
  .Balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
  }
  
  .Balloon p {
    margin: 0;
    padding: 10px;
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
  }